<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        StudyBud 
    </a>

    <!-- <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success"  type="submit">Search</button>
    </form>
    </div> -->
 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active" >Login</a>
        <a class="nav-link" [routerLink]="['register']" routerLinkActive="active" >Register</a>
      </div>
    </div>
  </div>
</nav>