<!-- <div class = "container">
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm">
       <h1>Active Courses</h1>
    </div>
    <div class="col-sm" style="margin-left: 35%;">
    </div>
  </div>
    <div style="flex-direction: row; justify-content: flex-end;"> 
     
    </div>
		<p class="subtitle">All active courses are viewed here!</p>
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

			<div class="col-3">
				<div class="card card-block card">
                 <img class="card-img-top" src="assets/javascript.jpg" alt="Card image cap">
                 <h4 class="card-title">JavaScript: basic course #1</h4>
                 </div>
			</div>

            <div class="col-3">
				<div class="card card-block card">
                 <img class="card-img-top" src="assets/golang.png" alt="Card image cap">
                 <h4 class="card-title">Go Language</h4>
                 </div>
			</div>

            <div class="col-3">
				<div class="card card-block card">
                 <img class="card-img-top" src="assets/data.png" alt="Card image cap">
                 <h4 class="card-title">Databases: Basics</h4>
                 </div>
			</div>

            <div class="col-3">
				<div class="card card-block card">
                 <img class="card-img-top" src="assets/javascript.jpg" alt="Card image cap">
                 <h4 class="card-title">Python</h4>
                 </div>
			</div>

            <div class="col-3">
				<div class="card card-block card">
                 <img class="card-img-top" src="assets/javascript.jpg" alt="Card image cap">
                 <h4 class="card-title">OOPS Concepts</h4>
                 </div>
			</div>  
            
           
    </div>
</div>


<mat-divider>

</mat-divider>


<div>
  
</div>

<mat-divider>

</mat-divider>
</div> -->

<!-- <mat-toolbar color="primary"> -->
  <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
    <!-- <span *ngIf="gridColumns === 4">Three Columns</span>
    <span *ngIf="gridColumns === 3">Four Columns</span> -->
  </button>
<!-- </mat-toolbar> -->
<div class="content">

<div class="row">
 <div class="col-sm">
       <h1>Active Courses</h1>
  </div>

   <div class="col-sm">
     <button class="button-36" role="button">+ Add New</button>
  </div>

  </div>

  	<p class="subtitle">All courses are viewed here!</p>

  <div fxLayout="row wrap" fxLayoutGap="12px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let name of ['Course 1','Course 2','Course 3']"> 
         <!-- data array from backend to ngFor  -->
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{name}}</mat-card-title>
        </mat-card-header>

        <!-- fetch image for each course here with nae -->
        <img mat-card-image src="assets/golang.png">
   
      </mat-card>
    </div>
  </div>


</div>


