
<!-- <mat-toolbar color="primary"> -->
  <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
    <!-- <span *ngIf="gridColumns === 4">Three Columns</span>
    <span *ngIf="gridColumns === 3">Four Columns</span> -->
  </button>
<!-- </mat-toolbar> -->
<div class="content">

<div class="row">
 <div class="col-sm">
       <h1>Active Courses</h1>
  </div>

   <div class="col-sm">
     <button mat-raised-button (click)="onRefresh()" style="margin-right: 20px;" role="button">Refresh</button>
     <button mat-raised-button (click)="onCreate()" role="button">+ Add New</button>
  </div>

  </div>

  <div *ngIf="!coursesFetched; else elseBlock">
    <mat-spinner strokeWidth="10" diameter="40"></mat-spinner>
  </div>
  <ng-template #elseBlock>
  <div fxLayout="row wrap" fxLayoutGap="12px grid">
  
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of courses"> 
         <!-- data array from backend to ngFor  -->
         
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        
        <!-- fetch image for each course here with nae -->
        <img mat-card-image class="thumbnail-image" src={{item.image}} onerror="this.src='assets/default.jpg';"  alt="..." />

         <button type="button" (click)="deleteCourse(item._id)" class="btn btn-outline-danger">Delete</button>
   
      </mat-card>
    </div>
  
  </div>
  </ng-template>


</div>


