<div class = "container">
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm">
       <h1>Active Courses</h1>
    </div>
    <div class="col-sm" style="margin-left: 35%;">
    </div>
  </div>
    <div style="flex-direction: row; justify-content: flex-end;"> 
     
    </div>
		<p class="subtitle">All active courses are viewed here!</p>
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

			<div class="col-3">
				<div class="card card-block card">
                 <img class="card-img-top" src="assets/javascript.jpg" alt="Card image cap">
                 <h4 class="card-title">JavaScript: basic course #1</h4>
                 </div>
			</div>

            <div class="col-3">
				<div class="card card-block card">
                 <img class="card-img-top" src="assets/golang.png" alt="Card image cap">
                 <h4 class="card-title">Go Language</h4>
                 </div>
			</div>

            <div class="col-3">
				<div class="card card-block card">
                 <img class="card-img-top" src="assets/data.png" alt="Card image cap">
                 <h4 class="card-title">Databases: Basics</h4>
                 </div>
			</div>

            <div class="col-3">
				<div class="card card-block card">
                 <img class="card-img-top" src="assets/javascript.jpg" alt="Card image cap">
                 <h4 class="card-title">Python</h4>
                 </div>
			</div>

            <div class="col-3">
				<div class="card card-block card">
                 <img class="card-img-top" src="assets/javascript.jpg" alt="Card image cap">
                 <h4 class="card-title">OOPS Concepts</h4>
                 </div>
			</div>  
            
           
    </div>
</div>


<mat-divider>

</mat-divider>


<div>
    <div>line charts</div>
    <div>linehsadhjkdah charts</div>
    <div>line charts</div>
    <div>line charts</div>
</div>

<mat-divider>

</mat-divider>
</div>
