<div class="default">

 <section>
  <div class="container py-3" >
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-xl-6">
        <div class="card" style="border-radius: 2rem;">
            
              <div class="card-body p-2 p-lg-5 text-black">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                  <div class="align-items-center  mb-2 pb-1">
                    <img src="assets/StudyBud.png" class="img-responsive center" alt="" style="width:20%">
                  </div>

                  <h5 class="newfont" style="letter-spacing: 0.5px; font-size: 14px;  line-height: 2rem;">Skill up, now! Register to StudyBud</h5>

                  <div class="form-outline mb-4">
                    <input type="text" 
                    name="firstname" 
                    ngModel 
                    required 
                    #firstname="ngModel"
                    id="registerfname"
                    placeholder="Firstname"
                    class="form-control form-control-lg"  />
                    
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text"
                    name="lastname" 
                    ngModel 
                    required 
                    #lastname="ngModel"
                    id="registerlname"
                    placeholder="Lastname"
                    class="form-control form-control-lg"/>
                    
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text"  
                    name="username" 
                    ngModel 
                    required 
                    email="true" 
                    #username="ngModel"
                    id="loginUsername" 
                    placeholder="Email address"
                    class="form-control form-control-lg"  />
                    
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password"
                    name="password" 
                    ngModel 
                    required 
                    #password="ngModel"
                    id="loginPassword"
                    placeholder="********"  
                    class="form-control form-control-lg" />
                  </div>

                  <div class="pt-1 mb-3">
                    <button class="btn btn-dark btn-lg btn-block" style="font-size: 14px;" type="submit" 
                    [disabled] = "f.invalid">
                    Register</button>
                  </div>

                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
        </div>
      </div>
    </div>
  </div>
</section>

