
<div class="default">
<div class="container" style="padding-top: 50px;">
    <div class="row d-flex col-sm">
      <div class="col col-xl-8" style="margin-top: 8%;">
             <img src="assets/StudyBud.png" class="img-responsive center" alt="" style="width:20%">
             <h1 class="newfont" style="letter-spacing: 1px;">Learning has never been so easy!</h1>
             <h4 class="font" style="color: #2F056B;">Sign in, Enroll to new courses, Get all the study material you need!</h4>
      </div>
      
      <div class="col-sm">
        <div class="card" style="border-radius: 2rem;">
            
              <div class="card-body p-3 p-lg-5 text-black">
<!-- angular template driven -->
                <form #f="ngForm" (ngSubmit)="onSubmit(f)"> 

                  <!-- testing -->

                  <!-- <p>Form value: {{ f.value | json }}</p>
                  <p>Form valid: {{ f.valid }}</p> -->



                  <div class="align-items-center  mb-2 pb-1">
                    <img src="assets/StudyBud.png" class="img-responsive center" alt="" style="width:30%">
                  </div>

                  <h5 class="newfont" style="letter-spacing: 0.5px; font-size: 14px;  line-height: 2rem;">Sign into your StudyBud account</h5>

                  <div class="form-outline mb-4">
                    <input  
                    type="text" 
                    name="username" 
                    ngModel 
                    required 
                    #username="ngModel"
                    id="loginUsername" 
                    class="form-control form-control-lg"  
                    placeholder ="Username"
                    />

                    <!-- testing -->

                      <!-- <p>Username value: {{ username.value }}</p>
                      <p>Username valid: {{ username.valid }}</p>
                      <p>Username dirty: {{ username.dirty }}</p>
                      <p>Username valid: {{ username.touched }}</p> -->

                  </div>

                  <div class="form-outline mb-4">
                    <input 
                    type="password" 
                    name="password" 
                    ngModel 
                    required 
                    #password="ngModel"
                    id="loginPassword" 
                    class="form-control form-control-lg" 
                    placeholder ="******"/>
        

                      <!-- <p>Password value: {{ password.value }}</p>
                      <p>Password valid: {{ password.valid }}</p>
                      <p>Password dirty: {{ password.dirty }}</p>
                      <p>Password valid: {{ password.touched }}</p> -->


                    
                  </div>

                  <div class="pt-1 mb-3">
                    <button class="btn btn-dark btn-lg btn-block" style="font-size: 14px;" type="submit" 
                    [disabled] = "f.invalid" 
                    >Login</button>
                  </div>

                  <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                  <p class="mb-3 pb-lg-1" style="color: #393f81;">Don't have an account? <a [routerLink]="['/register']" style="color: #393f81;">Register here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                  
                </form>

              </div>
        </div>
      </div>
    </div>
  </div>


 <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Persistent Systems</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
      -->
      
      </div>
    </div>
  </footer>
