.default{
  background-image: linear-gradient(#E2E6EA, #2F056B);
  height: 100vh;
}

.card
{
  border: none;
}

.trey
{
  background: none;
}

.newfont{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  line-height: 4rem;
  font-size: 50px;
  font-weight: 600;
  color: black;
}

.form-control{
  font-size: 14px;
}
