.default{
 
  height: 100vh;
  background: url(/assets/class.jpg) top center;
}

.card
{
  border: none;
}

.trey
{
  background: none;
}

.newfont{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 4rem;
  font-size: 40px;
  font-weight: 600;
  color: black;
}

.font{
   font-family:
   'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   line-height: 1rem;
   font-size: 18px;
   font-weight: 200;
   color:#7A7E83;
}

.form-control{
  font-size: 14px;
}
