<mat-nav-list>

    <div class ="profile-card">
        <div class = "header">
            <h4>
               Welcome to, </h4>
               <h2>StudyBud Admin</h2>
          
        </div>

        
         <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
         style="width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;"  
                alt="soufiane FADIL">
    </div>

<mat-divider></mat-divider>


<h2 matSubheader>Page links</h2>

<a style="font-size: 14px;" mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
<mat-icon>dashboard</mat-icon>
Dashboard
</a>
<a style="font-size: 14px;" mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/posts">
<mat-icon>list_alt</mat-icon>
Courses
</a>

<!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/articles">Articles</a>

<mat-divider></mat-divider> -->


<!-- <h2 matSubheader>tools</h2> -->


</mat-nav-list>