ul li{
    list-style: none;
}

.mat-toolbar.mat-primary {
  background: #2F056B;
  color: #fff;
  size: 10px;
}

.mat-toolbar {
  min-height: 40px !important;
  height: 40px !important;
}

.mat-toolbar-row {
  min-height: 40px !important;
  height: 40px !important;
}