<div class="home">
    <div class="section_left">
        <div class="details card">
            <div class="edu">Online Education</div>
            <div class="studybud">StudyBud</div>
            <div class="quote">
                <p>"The capacity to learn is a gift, the ability to learn is a skill, the willingness to learn is a choice."</p>
            </div>
            <button mat-raised-button class="btn-dark get_started" (click)="getStarted()">Get Started</button>
        </div>
    </div>
    <div class="section_right">
        <div class="doodle">
            <img src="assets/girl_learning_doodle.png" class="img-responsive center" alt="" style="width:100%">
        </div>
    </div>
</div>