<!-- <div class="home">
    <div class="section_left">
        <div class="details card">
            <div class="edu">Online Education</div>
            <div class="studybud">StudyBud</div>
            <div class="quote">
                <p>"The capacity to learn is a gift, the ability to learn is a skill, the willingness to learn is a choice."</p>
            </div>
            <button mat-raised-button class="btn-dark get_started" (click)="getStarted()">Get Started</button>
        </div>
    </div>
    <div class="section_right">

    </div>
</div>
 -->

  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container1 d-flex justify-content-between align-items-center">

      <nav id="navbar" class="navbar">
    <div id="logo">
        <a href=""><img src="assets/StudyBud.png" style="width: 20%;" alt=""></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="index.html">Regna</a></h1>-->
      </div>
       
      <form>
          <a style="color:white; cursor:pointer; margin-right: 10px; font-size: 12px;" (click)="getStarted()">Log in</a>
      </form>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>The best learning experience, made just for you!</h1>
      <h2>Explore new courses, Enroll and Learn new things from anywhere.</h2>
      <button class="btn-get-started" [routerLink]="['/register']">Get Started</button>

    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Who are we?</h2>
            <p>
              While there are over thousands of educational web apps available, choosing the right ones for students will make them enjoy learning. StudyBud aims to encourage students to spend their time fruitfully by making sure that you've got all the resources you need at yout finger tips.
            </p>

            <div class="icon-box">
              <h4 class="title"><a href="">Best Platform</a></h4>
              <p class="description">This is a powerful and easy to use web app for seamlessly organizing the daily activities of students.</p>
            </div>

            <div class="icon-box">
              <h4 class="title"><a href="">Easy To Manage</a></h4>
              <p class="description">It is one of the best cloud resource streaming and sharing tool for tutoring lessons.</p>
            </div>

            <div class="icon-box">
              <h4 class="title"><a href="">Easy to Use</a></h4>
              <p class="description">It lays a perfect communicative foundation between you and the students during distance learning.</p>
            </div>

          </div>
           <div class="col-lg-6 background order-lg-2 order-1"></div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Services Section ======= -->
     </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Persistent Systems</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
      -->

      </div>
    </div>
  </footer><!-- End Footer -->