.newfont {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 4rem;
  font-size: 40px;
  margin-top: 10px;
  font-weight: 600;
  color: black;
}

.mat-card-image {
  height: 5vw;
  object-fit: cover;
}

.mat-card:hover {
  background-color: #E2E6EA;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.content {
  padding: 12px;
}

.content>mat-card {
  margin-bottom: 12px;
}

.mat-card-title {
  font-size: 16px;
}

