 <h5 class="newfont" style="letter-spacing: 0.5px; font-size: 14px;  line-height: 2rem;">Courses you've enrolled in are displayed here!</h5>


  
<div class="content">
 <div *ngIf="!coursesFetched; else elseBlock">
    <mat-spinner strokeWidth="10" diameter="40"></mat-spinner>
  </div> 
  <ng-template #elseBlock>

  <div fxLayout="row wrap" fxLayoutGap="12px grid">
  <!-- change here for enrolled status -->
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of courses"> 
         <!-- data array from backend to ngFor  -->
         
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        
        <!-- fetch image for each course here with nae -->
        <img mat-card-image routerLinkActive="list-item-active"
         class="thumbnail-image" src={{apiUrl+item.image}} onerror="this.src='assets/default.jpg';"  alt="..." />

         <div class="row">
         <div class="col-sm-6">    
         <button type="button"  routerLinkActive="list-item-active" routerLink="/student/coursedetail/{{item.name}}" style="font-size: 12px;" class="btn btn-outline-success">View course content</button>
         </div>
        </div>
      </mat-card>
    </div>
  
  </div>
  </ng-template>

    </div>