<mat-card class="numbers_card mat-elevation-z8">
  <div class="courses_no">
    <div class="big_number">4</div>
    <div class="subtitle">Courses</div>
  </div>
  <div class="enrolled_no">
    <div class="big_number">20</div>
    <div class="subtitle">Enrolled Students</div>
  </div>
</mat-card>

<br>
<br>

<div>
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Course Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

    <!-- Enrolled Column -->
  <ng-container matColumnDef="students_enrolled">
    <th mat-header-cell *matHeaderCellDef> Students Enrolled </th>
    <td mat-cell *matCellDef="let element"> {{element.students_enrolled}} </td>
  </ng-container>

  <!-- Modules Column -->
  <ng-container matColumnDef="no_of_modules">
    <th mat-header-cell *matHeaderCellDef> No of Modules </th>
    <td mat-cell *matCellDef="let element"> {{element.no_of_modules}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<mat-divider>

</mat-divider>
<br>
<br>
<mat-card class="mat-elevation-z8">
    <!-- <div>table</div>
    <div>pi charts</div> -->
    <div echarts [options]="chartOption" class="demo-chart"></div>
</mat-card>