df-messenger {
    --df-messenger-bot-message: #00ACD7;
    --df-messenger-chat-background-color: #E2E6EA;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #E2E6EA;
    --df-messenger-user-message: #2F056B;
    --df-messenger-button-titlebar-color: #2F056B;
    
   }

