df-messenger {
    --df-messenger-bot-message: #878fac;
    --df-messenger-chat-background-color: #da9711fd;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #479b3d;
   }