<!-- <h3>Add a new course</h3>
<form>
<label for="formFileSm" class="form-label">Upload Course File</label>
<input class="form-control form-control-sm" id="formFileSm" type="file" />

</form> -->

<div class="container">  
    
  <h1> Add a new course</h1>  
    
  <form [formGroup]="AddCourseForm" (ngSubmit)="onSubmit()">  
      
    <p>  
      <label for="name">Course Name:</label>  
      <input type="text" id="name" name="name" formControlName="name" class="form-control">  
    </p>  


    <div class="form-group">

        <label for="file">Add file</label>

        <input 

            formControlName="file"

            id="file" 

            type="file" 

            class="form-control"

        >

    </div>
    
    <table class="table table-bordered" formArrayName="courses">  
      <tr>  
        <th colspan="2">Add Links</th>  
        <th width="150px"><button type="button" (click)="addCourse()" class="btn">+ add</button></th>  
      </tr>  
      <tr *ngFor="let quantity of courses().controls; let i=index" [formGroupName]="i">  
        <td>  
            Link Address :  
            <input type="text" formControlName="address" class="form-control">  
        </td>   
        <td>  
            <button (click)="removeCourse(i)" class="button">Remove</button>  
        </td>  
      </tr>  
    </table>  

    <!-- upload a pdf in form -->

    
    
    <button type="submit" class="btn1">Submit</button>  
      
  </form>  


 

       

      



