<!-- <h3>Add a new course</h3>
<form>
<label for="formFileSm" class="form-label">Upload Course File</label>
<input class="form-control form-control-sm" id="formFileSm" type="file" />

</form> -->

<div class="container">  
    
  <h1> Add a new course</h1>  
    
  <form [formGroup]="AddCourseForm" (ngSubmit)="onSubmit()">  
      
    <p>  
      <label for="coursename">Course Name:</label>  
      <input
          style="width: 100%;"
          type="text" 
          matInput 
          formControlName="coursename"
          type="text" 
          id="name" 
          name="coursename" 
          class="form-control">  
    </p>

  
        <p>  
          <label for="duration">Duration in hours:</label>  
          <input 
            matInput
            type="number" 
            formControlName="duration"
            min="1" 
            id="duration"
            name="duration" 
            class="form-control">  
        </p>  

        <div class="form-outline">
          <label for="img">Upload course image</label>  
                    <input 
                    type="file" #imageInput
                    name="file" 
                    formControlName="img"
                    id="file" 
                    matInput
                    (change)="handleFileInput($event)"
                    class="form-control form-control-lg" 
                    accept="image/*"
                    />
         </div>

        <p>
        <mat-form-field appearance="fill">
          <mat-label for="type">Type of course</mat-label>
          <mat-select id="type" formControlName="type">
            <mat-option value="Tech">Technical</mat-option>
            <mat-option value="NonTech">Non-Technical</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>
        </p>

     
     

    <button  type="submit" class="btn1">Submit</button>  
      
  </form>  


 

       

      



