 <div class="content"> 
 <div *ngIf="!moduleLoaded; else elseBlock">
    <mat-spinner strokeWidth="10" diameter="40"></mat-spinner>
  </div> 
  <ng-template #elseBlock>
  
  <div fxLayout="row wrap" fxLayoutGap="12px grid">
  
  <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of modules"> 
         <!-- data array from backend to ngFor  -->
  <mat-card class="mat-elevation-z4">
    <mat-card-header style="justify-content: space-between">
      <mat-card-title style="font-size: 16px;">{{item.module_name}}</mat-card-title><br>
    </mat-card-header>

      <div class="container-fluid" style="margin-left: 4vh;">
          <youtube-player
          [videoId]="item.video_link"
          [height]="150"
          [width]="220"
        >
        </youtube-player>
        <br>
       

           <a [href]="apiUrl+item.module_file" target="_blank">
            <h4>click here to open module content</h4>
        </a>
       </div>
    
  </mat-card>
  
  <br><br>
  </div>
</div>  
</ng-template>
</div>
